# **Data Cleaning in Pandas**

Import Pandas

In [29]:
import pandas as pd

Load data and drop duplicates

In [ ]:
df = pd.read_excel(r"Customer Call List.xlsx").drop_duplicates()

Drop unnecessary column and clean "Last_Name" column

In [ ]:
df = df.drop(columns="Not_Useful_Column")
df["Last_Name"] = df["Last_Name"].str.strip("123._/")

Clean "Phone_Number" column

In [ ]:
df["Phone_Number"] = df["Phone_Number"].str.replace('nan--','').str.replace('Na--','')

Split "Address" column into separate columns

In [ ]:
df[["Street_Address", "State", "Zip_Code"]] = df["Address"].str.split(',',2, expand=True)

<ipython-input-19-e7e90780752e>:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[["Street_Address", "State", "Zip_Code"]] = df["Address"].str.split(',',2, expand=True)

Clean "Do_Not_Contact" column

In [ ]:
df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace('Yes','Y').str.replace('No','N')

Replace NaN values with empty string

In [ ]:
df = df.fillna('')

Drop rows based on conditions

In [ ]:

df = df[(df["Do_Not_Contact"] != 'Y') & (df["Phone_Number"] != '')]

#**Reset index**

In [ ]:

df = df.reset_index(drop=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,N,123 Shire Lane,Shire,
1,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,N,123 Dragons Road,,
2,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,N,98 Clue Drive,,
3,1009,Gandalf,,N/a,123 Middle Earth,Yes,,123 Middle Earth,,
4,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,N,25th Main Street,New York,
5,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,2039 Main Street,,
6,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,N,343 City Parkway,,
7,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,N,214 HR Avenue,,
8,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,2395 Hogwarts Avenue,,
9,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,N,121 Paper Avenue,Pennsylvania,
10,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,910 Tatooine Road,Tatooine,

#Save the New data into a CSV File

In [30]:
df.to_csv(r"Data.csv", index= False)